<h1>Edit Super Heroine</h1>

<% if(flash[:errors] && flash[:errors].length > 0) %>
    <%= render "errors/errors" %>
<% end  %>

<%= render "form" %>

<br>
<br>


<%= form_for @heroine, method: :delete do |f|%>
    <%= f.submit "Delete Heroine" %>
<% end %>

<br>
<br>

<%= link_to "Cancel Edit", heroine_path(@heroine) %><br>
<%= link_to "Go Back To All", heroines_path %>
